//fuentes
$fuente_principal: "Raleway", sans-serif;
$fuente_heading: "Staatliches", cursive;

//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #f2f2f2;
$negro: #000;
$blanco: #FFF;
$verde: #068d9d;
$rosa: #b8336a;
$naranja: #ff8015;
$gris: #484349;

//unidades
$separacion: 5rem;