@use '../base/variables' as v;
@use '../base/mixins' as m;

.meeti {

    &__contenedor {
        margin-top: 5rem;

        @include m.tablet {
            @include m.grid(2, 2rem);
            grid-template-columns: 2fr 1fr;
        }
    }
}

.aside {

    &__info {
        background-color: v.$verde;
        padding: 2rem;
        text-align: center;
    }

    &__titulo {
        color: v.$blanco;
        font-family: v.$fuente_principal;
        font-size: 3rem;
        text-transform: capitalize;
        margin: 2rem 0;
    }

    &__p {
        color: v.$blanco;
        &--darker {
            font-weight: 700;
        }
    }
}