@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.categorias {
    background-color: v.$primario;
    padding: 5rem 0;

    &__contenedor {
        margin-top: 5rem;
        @include m.grid(1, 4rem);

        @include m.tablet {
            @include m.grid(2, 2rem);
        }
        @include m.desktop {
            @include m.grid(3, 2rem);
        }
    }

    &__p {
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
    }
}