@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.eventos {
    padding: 5rem 0;

    span {
        text-transform: capitalize;
    }

    &__contenido {
        margin-top: 2rem;
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }

    &__card {
        display: block;
        margin-bottom: 2rem;
        @include m.tablet {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
        }
    }

    &__img {
        width: 100%;
    }

    &__info {
        border: 1px solid #f2f2f2;
        padding: 2rem;
        flex: 1;
    }

    &__fecha {
        margin: 0;
        font-size: 1.4rem;
    }
    
    &__titulo {
        font-family: v.$fuente_heading;
        font-size: 4rem;
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__title {
        font-family: v.$fuente_principal;
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem 0;
    }
}

.perfil {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;

    &__img {
        border-radius: 50%;
        width: 10rem;
    }

    &__title {
        font-family: v.$fuente_principal;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0.5rem 0;
        line-height: 1.8;
    }
    
    &__p {
        margin: 0.5rem 0;
    }
}